/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


$my_blue: #11A7FC;
$my_green: #95D127;
$my_yellow: #F2E415;
$my_orange: #FF8638;
$my_amaranth: #EE3551;


@mixin mybutton($main_color,$box_height) {

	$active_color: darken( $main_color, 20% );
	display: inline-block;
	margin: 25px 18px 18px 0px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow:    0 $box_height 0 $active_color, 0 15px 20px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0 $box_height 0 $active_color, 0 15px 20px rgba(0, 0, 0, .35);
	box-shadow: 0 $box_height 0 $active_color, 0 15px 20px rgba(0, 0, 0, .35);
	-webkit-transition: -webkit-box-shadow .1s ease-in-out;
	-moz-transition: -moz-box-shadow .1s ease-in-out;
	-o-transition: -o-box-shadow .1s ease-in-out;
	transition: box-shadow .1s ease-in-out;
	font-size: 50px;
	color: #fff;

}

@mixin mybuttonspan($main_color) {
	$active_color: darken( $main_color, 20% );
	$gradient_hue: min(hue(darken($main_color,10%)),255);

	display: inline-block;
	padding: 20px 30px;
	background-color: $main_color;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla($gradient_hue, 90%, 80%, .8)), to(hsla($gradient_hue, 90%, 70%, .2)));
	background-image: -webkit-linear-gradient(hsla($gradient_hue, 90%, 80%, .8), hsla($gradient_hue, 90%, 70%, .2));
	background-image: -moz-linear-gradient(hsla($gradient_hue, 90%, 80%, .8), hsla($gradient_hue, 90%, 70%, .2));
	background-image: -o-linear-gradient(hsla($gradient_hue, 90%, 80%, .8), hsla($gradient_hue, 90%, 70%, .2));
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
	-moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
	font-family: 'Pacifico', Arial, sans-serif;
	line-height: 1;
	text-shadow: 0 -1px 10px rgba($gradient_hue, 49, 95, .5);
	-webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
	-moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
	-o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
	transition: background-color .2s ease-in-out, transform .1s ease-in-out;

}

@mixin buttonhoverspan ($main_color) {
	$active_color: darken( $main_color, 20% );
	$gradient_hue: min(hue(darken($main_color,10%)),255);
	background-color: $active_color;
	text-shadow: 0 -1px px rgba($gradient_hue, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

@mixin buttonactiveandfocus ($main_color) {

	$active_color: darken( $main_color, 20% );
	$gradient_hue: min(hue(darken($main_color,10%)),255);
	-webkit-box-shadow:    0 8px 0 $active_color, 0 12px 10px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 8px 0 $active_color, 0 12px 10px rgba(0, 0, 0, .3);
	box-shadow:    0 8px 0 $active_color, 0 12px 10px rgba(0, 0, 0, .3);
}

@mixin buttonactivespan($translate_amount) {
	-webkit-transform: translate(0,$translate_amount);
	-moz-transform: translate(0, $translate_amount);
	-o-transform: translate(0, $translate_amount);
	transform: translate(0, $translate_amount);
}

.internalFrame {

	margin-top: 10px;

}

@mixin internalItem ($main_color){

	$shadow_color: darken( $main_color, 20% );
	$gradient_hue: min(hue(darken($main_color,10%)),255);

		font-size: 20px;
	padding-top:10px;
	padding-bottom:20px;
	padding:10px;
	float:left;
	border-radius: 8px;

	background-color: $main_color;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla($gradient_hue, 90%, 80%, .8)), to(hsla($gradient_hue, 90%, 70%, .2)));
	background-image: -webkit-linear-gradient(hsla($gradient_hue, 90%, 80%, .8), hsla($gradient_hue, 90%, 70%, .2));
	background-image: -moz-linear-gradient(hsla($gradient_hue, 90%, 80%, .8), hsla($gradient_hue, 90%, 70%, .2));
	background-image: -o-linear-gradient(hsla($gradient_hue, 90%, 80%, .8), hsla($gradient_hue, 90%, 70%, .2));
	margin:4px;

	-webkit-box-shadow:    0 2px 0 $shadow_color, 0 5px 7px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0 2px 0 $shadow_color, 0 5px 7px rgba(0, 0, 0, .35);
	box-shadow: 0 2px 0 $shadow_color, 0 5px 7px rgba(0, 0, 0, .35);
	-webkit-transition: -webkit-box-shadow .1s ease-in-out;
	-moz-transition: -moz-box-shadow .1s ease-in-out;
	-o-transition: -o-box-shadow .1s ease-in-out;
	transition: box-shadow .1s ease-in-out;

}


.hw_button {
	@include mybutton($my_blue,20px);
}
.hw_button span {
	@include mybuttonspan($my_blue);
}
.hw_button:hover span {
	@include buttonhoverspan($my_blue);
}
.hw_button:active, .hw_button:focus {
	@include buttonactiveandfocus($my_blue);
}
.hw_button:active span {
	@include buttonactivespan(20px);
}
.hw_internalItem {
	@include internalItem($my_blue);

}

.os_button {
	@include mybutton($my_green,20px);
}
.os_button span {
	@include mybuttonspan($my_green);
}
.os_button:hover span {
	@include buttonhoverspan($my_green);
}
.os_button:active, .os_button:focus {
	@include buttonactiveandfocus($my_green);
}
.os_button:active span {
	@include buttonactivespan(20px);
}

.role_button {
	@include mybutton($my_orange,20px);
}
.role_button span {
	@include mybuttonspan($my_orange);
}
.role_button:hover span {
	@include buttonhoverspan($my_orange);
}
.role_button:active, .role_button:focus {
	@include buttonactiveandfocus($my_orange);
}
.role_button:active span {
	@include buttonactivespan(20px);
}
.os_internalItem {
	@include internalItem($my_green);

}

.app_button {
	@include mybutton($my_yellow,20px);
}
.app_button span {
	@include mybuttonspan($my_yellow);
}
.app_button:hover span {
	@include buttonhoverspan($my_yellow);
}
.app_button:active, .app_button:focus {
	@include buttonactiveandfocus($my_yellow);
}
.app_button:active span {
	@include buttonactivespan(20px);
}
.role_internalItem {
	@include internalItem($my_orange);

}

.service_button {
	@include mybutton($my_amaranth,20px);
}
.service_button span {
	@include mybuttonspan($my_amaranth);
}
.service_button:hover span {
	@include buttonhoverspan($my_amaranth);
}
.service_button:active, .service_button:focus {
	@include buttonactiveandfocus($my_amaranth);
}
.service_button:active span {
	@include buttonactivespan(20px);
}
.app_internalItem {
	@include internalItem($my_yellow);

}

.play_button {
	@include mybutton(#cccccc,20px);
}
.play_button span {
	@include mybuttonspan(#cccccc);
}
.play_button:hover span {
	@include buttonhoverspan(#cccccc);
}
.play_button:active, .play_button:focus {
	@include buttonactiveandfocus(#cccccc);
}
.play_button:active span {
	@include buttonactivespan(20px);
}




@font-face {
	font-family: 'icomoon';
	src:url('http://i.icomoon.io/public/temp/19b2129037/UntitledProject1/icomoon.eot?-16smi3');
	src:url('http://i.icomoon.io/public/temp/19b2129037/UntitledProject1/icomoon.eot?#iefix-16smi3') format('embedded-opentype'),
		url('http://i.icomoon.io/public/temp/19b2129037/UntitledProject1/icomoon.woff?-16smi3') format('woff'),
		url('http://i.icomoon.io/public/temp/19b2129037/UntitledProject1/icomoon.ttf?-16smi3') format('truetype'),
		url('http://i.icomoon.io/public/temp/19b2129037/UntitledProject1/icomoon.svg?-16smi3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-play:before {
	content: "\e602";
}
.icon-pause:before {
	content: "\e603";
}
.icon-pause2:before {
	content: "\e604";
}
.icon-play2:before {
	content: "\e605";
}
