/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Users/gee/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Users/gee/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Users/gee/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Users/gee/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Users/gee/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Users/gee/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Users/gee/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Users/gee/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Users/gee/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 86, ../sass/screen.scss */
.internalFrame {
  margin-top: 10px;
}

/* line 122, ../sass/screen.scss */
.hw_button {
  display: inline-block;
  margin: 25px 18px 18px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 0 #026aa5, 0 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 20px 0 #026aa5, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 20px 0 #026aa5, 0 15px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 50px;
  color: #fff;
}

/* line 125, ../sass/screen.scss */
.hw_button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #11a7fc;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(158, 217, 250, 0.8)), to(rgba(110, 198, 247, 0.2)));
  background-image: -webkit-linear-gradient(rgba(158, 217, 250, 0.8), rgba(110, 198, 247, 0.2));
  background-image: -moz-linear-gradient(rgba(158, 217, 250, 0.8), rgba(110, 198, 247, 0.2));
  background-image: -o-linear-gradient(rgba(158, 217, 250, 0.8), rgba(110, 198, 247, 0.2));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 10px rgba(201, 49, 95, 0.5);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

/* line 128, ../sass/screen.scss */
.hw_button:hover span {
  background-color: #026aa5;
  text-shadow: 0 -1px px rgba(201, 49, 95, 0.9), 0 0 5px rgba(255, 255, 255, 0.8);
}

/* line 131, ../sass/screen.scss */
.hw_button:active, .hw_button:focus {
  -webkit-box-shadow: 0 8px 0 #026aa5, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #026aa5, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #026aa5, 0 12px 10px rgba(0, 0, 0, 0.3);
}

/* line 134, ../sass/screen.scss */
.hw_button:active span {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}

/* line 137, ../sass/screen.scss */
.hw_internalItem {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding: 10px;
  float: left;
  border-radius: 8px;
  background-color: #11a7fc;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(158, 217, 250, 0.8)), to(rgba(110, 198, 247, 0.2)));
  background-image: -webkit-linear-gradient(rgba(158, 217, 250, 0.8), rgba(110, 198, 247, 0.2));
  background-image: -moz-linear-gradient(rgba(158, 217, 250, 0.8), rgba(110, 198, 247, 0.2));
  background-image: -o-linear-gradient(rgba(158, 217, 250, 0.8), rgba(110, 198, 247, 0.2));
  margin: 4px;
  -webkit-box-shadow: 0 2px 0 #026aa5, 0 5px 7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 2px 0 #026aa5, 0 5px 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 0 #026aa5, 0 5px 7px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
}

/* line 142, ../sass/screen.scss */
.os_button {
  display: inline-block;
  margin: 25px 18px 18px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 0 #587b17, 0 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 20px 0 #587b17, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 20px 0 #587b17, 0 15px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 50px;
  color: #fff;
}

/* line 145, ../sass/screen.scss */
.os_button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #95d127;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(218, 250, 158, 0.8)), to(rgba(199, 247, 110, 0.2)));
  background-image: -webkit-linear-gradient(rgba(218, 250, 158, 0.8), rgba(199, 247, 110, 0.2));
  background-image: -moz-linear-gradient(rgba(218, 250, 158, 0.8), rgba(199, 247, 110, 0.2));
  background-image: -o-linear-gradient(rgba(218, 250, 158, 0.8), rgba(199, 247, 110, 0.2));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 10px rgba(81, 49, 95, 0.5);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

/* line 148, ../sass/screen.scss */
.os_button:hover span {
  background-color: #587b17;
  text-shadow: 0 -1px px rgba(81, 49, 95, 0.9), 0 0 5px rgba(255, 255, 255, 0.8);
}

/* line 151, ../sass/screen.scss */
.os_button:active, .os_button:focus {
  -webkit-box-shadow: 0 8px 0 #587b17, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #587b17, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #587b17, 0 12px 10px rgba(0, 0, 0, 0.3);
}

/* line 154, ../sass/screen.scss */
.os_button:active span {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}

/* line 158, ../sass/screen.scss */
.role_button {
  display: inline-block;
  margin: 25px 18px 18px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 0 #d15200, 0 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 20px 0 #d15200, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 20px 0 #d15200, 0 15px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 50px;
  color: #fff;
}

/* line 161, ../sass/screen.scss */
.role_button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #ff8638;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(250, 194, 158, 0.8)), to(rgba(247, 164, 110, 0.2)));
  background-image: -webkit-linear-gradient(rgba(250, 194, 158, 0.8), rgba(247, 164, 110, 0.2));
  background-image: -moz-linear-gradient(rgba(250, 194, 158, 0.8), rgba(247, 164, 110, 0.2));
  background-image: -o-linear-gradient(rgba(250, 194, 158, 0.8), rgba(247, 164, 110, 0.2));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 10px rgba(23, 49, 95, 0.5);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

/* line 164, ../sass/screen.scss */
.role_button:hover span {
  background-color: #d15200;
  text-shadow: 0 -1px px rgba(23, 49, 95, 0.9), 0 0 5px rgba(255, 255, 255, 0.8);
}

/* line 167, ../sass/screen.scss */
.role_button:active, .role_button:focus {
  -webkit-box-shadow: 0 8px 0 #d15200, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #d15200, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #d15200, 0 12px 10px rgba(0, 0, 0, 0.3);
}

/* line 170, ../sass/screen.scss */
.role_button:active span {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}

/* line 173, ../sass/screen.scss */
.os_internalItem {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding: 10px;
  float: left;
  border-radius: 8px;
  background-color: #95d127;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(218, 250, 158, 0.8)), to(rgba(199, 247, 110, 0.2)));
  background-image: -webkit-linear-gradient(rgba(218, 250, 158, 0.8), rgba(199, 247, 110, 0.2));
  background-image: -moz-linear-gradient(rgba(218, 250, 158, 0.8), rgba(199, 247, 110, 0.2));
  background-image: -o-linear-gradient(rgba(218, 250, 158, 0.8), rgba(199, 247, 110, 0.2));
  margin: 4px;
  -webkit-box-shadow: 0 2px 0 #587b17, 0 5px 7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 2px 0 #587b17, 0 5px 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 0 #587b17, 0 5px 7px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
}

/* line 178, ../sass/screen.scss */
.app_button {
  display: inline-block;
  margin: 25px 18px 18px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 0 #998f08, 0 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 20px 0 #998f08, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 20px 0 #998f08, 0 15px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 50px;
  color: #fff;
}

/* line 181, ../sass/screen.scss */
.app_button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #f2e415;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(250, 244, 158, 0.8)), to(rgba(247, 239, 110, 0.2)));
  background-image: -webkit-linear-gradient(rgba(250, 244, 158, 0.8), rgba(247, 239, 110, 0.2));
  background-image: -moz-linear-gradient(rgba(250, 244, 158, 0.8), rgba(247, 239, 110, 0.2));
  background-image: -o-linear-gradient(rgba(250, 244, 158, 0.8), rgba(247, 239, 110, 0.2));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 10px rgba(56, 49, 95, 0.5);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

/* line 184, ../sass/screen.scss */
.app_button:hover span {
  background-color: #998f08;
  text-shadow: 0 -1px px rgba(56, 49, 95, 0.9), 0 0 5px rgba(255, 255, 255, 0.8);
}

/* line 187, ../sass/screen.scss */
.app_button:active, .app_button:focus {
  -webkit-box-shadow: 0 8px 0 #998f08, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #998f08, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #998f08, 0 12px 10px rgba(0, 0, 0, 0.3);
}

/* line 190, ../sass/screen.scss */
.app_button:active span {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}

/* line 193, ../sass/screen.scss */
.role_internalItem {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding: 10px;
  float: left;
  border-radius: 8px;
  background-color: #ff8638;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(250, 194, 158, 0.8)), to(rgba(247, 164, 110, 0.2)));
  background-image: -webkit-linear-gradient(rgba(250, 194, 158, 0.8), rgba(247, 164, 110, 0.2));
  background-image: -moz-linear-gradient(rgba(250, 194, 158, 0.8), rgba(247, 164, 110, 0.2));
  background-image: -o-linear-gradient(rgba(250, 194, 158, 0.8), rgba(247, 164, 110, 0.2));
  margin: 4px;
  -webkit-box-shadow: 0 2px 0 #d15200, 0 5px 7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 2px 0 #d15200, 0 5px 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 0 #d15200, 0 5px 7px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
}

/* line 198, ../sass/screen.scss */
.service_button {
  display: inline-block;
  margin: 25px 18px 18px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 0 #ae0f27, 0 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 20px 0 #ae0f27, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 20px 0 #ae0f27, 0 15px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 50px;
  color: #fff;
}

/* line 201, ../sass/screen.scss */
.service_button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #ee3551;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(181, 158, 250, 0.8)), to(rgba(144, 110, 247, 0.2)));
  background-image: -webkit-linear-gradient(rgba(181, 158, 250, 0.8), rgba(144, 110, 247, 0.2));
  background-image: -moz-linear-gradient(rgba(181, 158, 250, 0.8), rgba(144, 110, 247, 0.2));
  background-image: -o-linear-gradient(rgba(181, 158, 250, 0.8), rgba(144, 110, 247, 0.2));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 10px rgba(255, 49, 95, 0.5);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

/* line 204, ../sass/screen.scss */
.service_button:hover span {
  background-color: #ae0f27;
  text-shadow: 0 -1px px rgba(255, 49, 95, 0.9), 0 0 5px rgba(255, 255, 255, 0.8);
}

/* line 207, ../sass/screen.scss */
.service_button:active, .service_button:focus {
  -webkit-box-shadow: 0 8px 0 #ae0f27, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #ae0f27, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #ae0f27, 0 12px 10px rgba(0, 0, 0, 0.3);
}

/* line 210, ../sass/screen.scss */
.service_button:active span {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}

/* line 213, ../sass/screen.scss */
.app_internalItem {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding: 10px;
  float: left;
  border-radius: 8px;
  background-color: #f2e415;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(250, 244, 158, 0.8)), to(rgba(247, 239, 110, 0.2)));
  background-image: -webkit-linear-gradient(rgba(250, 244, 158, 0.8), rgba(247, 239, 110, 0.2));
  background-image: -moz-linear-gradient(rgba(250, 244, 158, 0.8), rgba(247, 239, 110, 0.2));
  background-image: -o-linear-gradient(rgba(250, 244, 158, 0.8), rgba(247, 239, 110, 0.2));
  margin: 4px;
  -webkit-box-shadow: 0 2px 0 #998f08, 0 5px 7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 2px 0 #998f08, 0 5px 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 0 #998f08, 0 5px 7px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
}

/* line 218, ../sass/screen.scss */
.play_button {
  display: inline-block;
  margin: 25px 18px 18px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 0 #999999, 0 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 20px 0 #999999, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 20px 0 #999999, 0 15px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 50px;
  color: #fff;
}

/* line 221, ../sass/screen.scss */
.play_button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(250, 158, 158, 0.8)), to(rgba(247, 110, 110, 0.2)));
  background-image: -webkit-linear-gradient(rgba(250, 158, 158, 0.8), rgba(247, 110, 110, 0.2));
  background-image: -moz-linear-gradient(rgba(250, 158, 158, 0.8), rgba(247, 110, 110, 0.2));
  background-image: -o-linear-gradient(rgba(250, 158, 158, 0.8), rgba(247, 110, 110, 0.2));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 10px rgba(0, 49, 95, 0.5);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

/* line 224, ../sass/screen.scss */
.play_button:hover span {
  background-color: #999999;
  text-shadow: 0 -1px px rgba(0, 49, 95, 0.9), 0 0 5px rgba(255, 255, 255, 0.8);
}

/* line 227, ../sass/screen.scss */
.play_button:active, .play_button:focus {
  -webkit-box-shadow: 0 8px 0 #999999, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #999999, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #999999, 0 12px 10px rgba(0, 0, 0, 0.3);
}

/* line 230, ../sass/screen.scss */
.play_button:active span {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}

@font-face {
  font-family: 'icomoon';
  src: url("http://i.icomoon.io/public/temp/19b2129037/UntitledProject1/icomoon.eot?-16smi3");
  src: url("http://i.icomoon.io/public/temp/19b2129037/UntitledProject1/icomoon.eot?#iefix-16smi3") format("embedded-opentype"), url("http://i.icomoon.io/public/temp/19b2129037/UntitledProject1/icomoon.woff?-16smi3") format("woff"), url("http://i.icomoon.io/public/temp/19b2129037/UntitledProject1/icomoon.ttf?-16smi3") format("truetype"), url("http://i.icomoon.io/public/temp/19b2129037/UntitledProject1/icomoon.svg?-16smi3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 248, ../sass/screen.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 262, ../sass/screen.scss */
.icon-home:before {
  content: "\e600";
}

/* line 265, ../sass/screen.scss */
.icon-pencil:before {
  content: "\e601";
}

/* line 268, ../sass/screen.scss */
.icon-play:before {
  content: "\e602";
}

/* line 271, ../sass/screen.scss */
.icon-pause:before {
  content: "\e603";
}

/* line 274, ../sass/screen.scss */
.icon-pause2:before {
  content: "\e604";
}

/* line 277, ../sass/screen.scss */
.icon-play2:before {
  content: "\e605";
}
